@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background: white;
}
::-webkit-scrollbar-thumb {
	background-color: rbg(173, 173, 173);
}